@{
    ViewData["Title"] = "Listagem de Cultivos e Insumos";
}
<div class="text-center">
    
    <h1 class="display-4">Cultivos e Insumos</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID CULTIVO</th>
                <th scope="col">CULTIVO</th>
                <th scope="col">ID INSUMO</th>
                <th scope="col">INSUMO</th>
                <th scope="col">FORNECEDOR</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>11</td>
                <td>Cenoura</td>
                <td>03</td>
                <td>Inseticida</td>
                <td>SantaCruz</td>
                <td>
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-primary" asp-controller="Insumos" asp-action="Editar">Editar</a>
                        <a role="button" class="btn btn-danger" asp-controller="Insumos" asp-action="ApagarConfirmacao">Apagar</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>12</td>
                <td>Alface</td>
                <td>04</td>
                <td>Herbicidas</td>
                <td>Caasp</td>
                <td>
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-primary" asp-controller="Insumos" asp-action="Editar">Editar</a>
                        <a role="button" class="btn btn-danger" asp-controller="Insumos" asp-action="ApagarConfirmacao">Apagar</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>13</td>
                <td>Beterraba</td>
                <td>05</td>
                <td>Fungicidas</td>
                <td>NeymarTrans</td>
                <td>
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-primary" asp-controller="Insumos" asp-action="Editar">Editar</a>
                        <a role="button" class="btn btn-danger" asp-controller="Insumos" asp-action="ApagarConfirmacao">Apagar</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="Insumos" asp-action="Criar">Registrar Cultivo e Insumos</a>
    </div>


</div>
